h1 {
    color: #0f6674;
    background-color: white;
    border: 1px #1a202c;
    width: 60%;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 10px;
    padding: 10px;
}

#title1 {
    background-color: #4bb1b1;
}

.title-primary .bg-title {
    background-color: #9fedb4;
    color: #103c5c;
}

.title-primary{
    font-size: 63px;
    text-align: center;
    background-color: black;
    text-shadow: 1px 1px 2px black;
}


body {
    background-color: #95999c;
}
